<div class="wrapper">


<h1>Find group meditations around you!</h1>

<div class = "mapDiv">

<agm-map 
  [latitude]="lat"
  [longitude]="long"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false" (idle) = "idle()"
 >
 <!-- (idle) = "idle()" -->
  <agm-marker 
      *ngFor="let g of groups; let i = index"
      (markerClick)="clickedMarker(g.name, i)"
      [latitude]="g.geolocation[1]"
      [longitude]="g.geolocation[0]"
      [label]="g.name"
      [markerDraggable]="false">
      
    <agm-info-window>
      <strong>{{g.name}}</strong>
      <p>{{g.description}}</p>

      <div *ngIf="!g.isEveryday; else elseBlock">
        <p>{{g.datetime | date:'MMMM d, y, h:mm:ss a z'}} </p> 
      </div>
      <ng-template #elseBlock>Everyday - {{g.datetime | date:'h:mm:ss a z'}}</ng-template>

      <div *ngIf="checkGroupJoinStatus(i); else notJoined">
        <button class="btn btn-outline-success my-2 my-sm-0" (click) = "leaveGroup(i)">LEAVE</button>
      </div>
      <ng-template #notJoined>
        <div>
            <button class="btn btn-outline-success my-2 my-sm-0" (click) = "joinGroup(i)" [disabled] = "!isAuthenticated()">JOIN</button>
        </div>
      </ng-template>
     
     </agm-info-window>    
  </agm-marker>

</agm-map>
  
</div>

<div class="descriptionDiv" *ngIf="currentGroup" >
  <h1>{{currentGroup.name}}</h1>
  <ngb-tabset>
    <ngb-tab title="Description">
      <ng-template ngbTabContent>
        <p>{{currentGroup.description}}</p>
        <div *ngIf="!currentGroup.isEveryday; else elseBlock">
          <label>Date: </label> {{currentGroup.datetime | date:'MMMM d, y, h:mm:ss a z'}} 
        </div>
        <div >
          <label>Address: </label> {{currentGroup.address.street}}, {{currentGroup.address.city}}, {{currentGroup.address.state}}  
        </div>
        <ng-template #elseBlock>Everyday - {{currentGroup.datetime | date:'h:mm:ss a z'}}</ng-template>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Active Meditators">
      <ng-template ngbTabContent>
        
        <div class="main-box no-header clearfix">
          <div class="main-box-body clearfix">
              <div class="table-responsive">
                  <table class="table user-list">
                      <thead>
                          <tr>
                          <th><span>User</span></th>
                          <th><span>Joined</span></th>
                          <!-- <th class="text-center"><span>Status</span></th> -->
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let user of currentGroup.users" >
                              <td>
                                  <!-- <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""> -->
                                  <a href="#" class="user-link">{{user.name}}</a>
                              </td>
                              <td align="left">{{user.joinDate | date:'MMM d, y, h:mm:ss a' }}</td>
                              <!-- <td class="text-center">
                                  <span class="label label-default">pending</span>
                              </td> -->
                          </tr>
                         
                      </tbody>
                  </table>
              </div>
          </div>
      </div>


      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
</div>